[submodule "Isonia/External/tinyobjloader"]
	path = Isonia/External/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Isonia/External/glm"]
	path = Isonia/External/glm
	url = https://github.com/g-truc/glm.git
